.hero-page{
    padding: 239px 0;
    height: 100vh;
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .button{
        min-width: 123px;
    }
    .inner-detail-hero{
        max-width: 522px;
        >*:last-child{
            margin-bottom: 0;
        }
        .button{
          margin-top: 22px;  
        }
    }
    .container{
        align-items: center;
        display: flex;
        justify-content: start;
        position: relative;
        z-index: 1;
    }
    .curve-img-hero{
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
    .img-person-col{
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 837px;
        width: 100%;
        img{
            width: 100%;
        }
    }
    @media(max-width: $desktop-xl){
        .img-person-col{
            max-width: 52%;
        }
    }
    @media(max-width: $small-tablet){
        padding: 43px 0 0;
        height: auto;
        min-height: auto;
        .inner-detail-hero{
            min-width: 119px;
        }
        .img-person-col{
            max-width: 358px;
            margin: 64px 0 0 auto;
            position: relative;
        }
    }
 }