.tabs-services{
    background-size: cover;
    background-position: center;
    padding:  63px 0 0;
    background-color: $black;
}
.ul-list-items{
    >.li-item-data{
        margin-bottom: 15px; 
        &:last-child{
            margin-bottom: 0;
        }   
    }
    .li-item-data{
        margin-left: 26px;
        transition: all ease 0.3s;
        &.active-item-data{
            margin-left: 0;
        }
        &:hover{
            margin-left: 0;
        }  
    }
  
}
.li-item-data{
    border: 1px solid $color_green-3;
    padding: 20px 24px 20px 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    h3{
        font-size: 24px;
        font-weight: 500;
        line-height: 1.4583em;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
        margin-bottom: 0;
        color: $color_green-2;
    }
    .icon-99{
        margin-right: 31px;
        margin-top: 5px;
    }
    .icon-row-title{
        display: flex;
        padding-right: 20px;

    }
}

.icon-99{
    background-image: url(../images/quote-down-circle.svg);
    width: 23.33px;
    height: 23.33px;
    min-width: 23.33px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 31px;
    margin-top: 5px;
}

.list-tabs-content{
    height: 100%;
    max-width: 543px;
    margin: 0 auto 0 0;
    .item-tabs-content{
        display: none;
        &.active-item-tabs{
            display: flex;
            align-content: space-between;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }
}

.item-tabs-content{
    background-image: url(../images/bg-content-green.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 24px 0px 0 0px;
    position: relative;
    border-radius: 25px 25px 0 0;
    height: 100%;
    min-height: 800px;
    .content-right{
       padding-right: 180px;
       padding-left: 24px;
    }
    .icon-row-title{
        display: flex;
        margin-bottom: 38px;
        .icon-99{
            width: 42px;
            height: 42px;
            margin-right: 30px;
            min-width: 42px;
        }
        h3{
            font-size: 40px;
            font-weight: 600;
            line-height: 1.175em;
            letter-spacing: 0.25px;
            text-align: left;
        }
    }
    .person-box{
        margin-bottom: 0;
        margin-top: -91px;
        max-width: 458px;
        position: relative;
        right: -56px;
        img{
            width: 100%;
        }
    }
    
}