/* Typographical Elements
--------------------------------------------- */
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
//$input-height-inner-quarter : add($input-line-height * .25em, $input-padding-y / 2) !default;

//$headings-margin-bottom : 1rem / 2 !default;

body {
    font-family: $font-family;
    margin: 0;
    letter-spacing: 0.15000000596046448px;
}
body:not(.wp-core-ui):not(.wp-core-ui ){
    color: $primary;
    line-height: 1.4583em;
    font-size: 24px;
    font-weight: 500;
    background-color: $black;
    @media(max-width: $desktop){
        font-size: 18px;
    }
    @media(max-width: $small-tablet){
        /* font-size: 16px;
        line-height: 1.2em; */
        font-size: 18px;
        line-height: 1.2em;;
    }
}
p{
    margin-bottom: 20px;
}
.acf-block-preview{
    p{
        color: $primary;
    }
}

.full-width-content .footer-widgets{
    display: none;
}

.full-row-dev.alignfull{
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
}

.bg-after-prefooter{
    position: relative;
    overflow: hidden;
    &:before{
        content: "";
        background-image: url(../images/bg-left-top.png);
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 0;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 1084px;
        background-position: 0% 100%;
        top: 0;
        left: 0;
        background-position: top left;
    }
    
}