/* Typographical Elements
--------------------------------------------- */
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
//$input-height-inner-quarter : add($input-line-height * .25em, $input-padding-y / 2) !default;

//$headings-margin-bottom : 1rem / 2 !default;

body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 1.444444em;
}
 