
// ----------------------------------------------------------------------
$font-size: 14px;
// ----------------------------------------------------------------------

// Colors
// ----------------------------------------------------------------------
$primary: #16949C;
$secondary: #2C251E;
 
//$custom-control-indicator-size: 1rem;
// ----------------------------------------------------------------------
// Font Families   
// ----------------------------------------------------------------------

//font-family: 'Lato', sans-serif;
//font-family: 'Playfair Display', serif;
$font-family: 'Lato', arial, helvetica, sans-serif;
$font-heading: 'Playfair Display', Helvetica, Arial, sans-serif;
 
 
// ----------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------
 

$small-phone: 420px;
$phone: 580px;
$small-tablet: 768px;
$tablet: 992px;
$desktop: 1024px;
$desktop-xl: 1440px;
// ----------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------