
// ----------------------------------------------------------------------
$font-size: 14px;
// ----------------------------------------------------------------------

// Colors
// ----------------------------------------------------------------------
$primary: #16949C;
$secondary: #2C251E;
$color_green: #CEE3DA;

//$custom-control-indicator-size: 1rem;
// ----------------------------------------------------------------------
// Font Families   
// ----------------------------------------------------------------------

$font-family: 'Raleway', arial, helvetica, sans-serif;
$font-heading: 'Raleway', Helvetica, Arial, sans-serif;
 
 
// ----------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------
$grid-breakpoints: ( xs: 0, sm: 581px, md: 769px, lg: 1025px, xl: 1200px);

$small-phone: 420px;
$phone: 580px;
$small-tablet: 768px;
$tablet: 992px;
$desktop: 1024px;
$desktop-xl: 1440px;
// ----------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------