// --------------------------------------------------
// font size
@function calculate-rem($size) {
    $rem-size: $size / 16px;
    @return $rem-size * 1rem;
}

@mixin font-size($size) {
    font-size: calculate-rem($size);
}

// How to use: @include font-face("MyFont", "path/to/MyFont", $style: normal, $weight: normal);
@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url($file-name + '.eot');
        src: url($file-name + '.eot?#iefix') format('embedded-opentype'),
        url($file-name + '.woff') format('woff'),
        url($file-name + '.ttf') format('truetype'),
        url($file-name + '.svg##{$font-name}') format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

// --------------------------------------------------
// heading styles
@mixin h1 {
    font-size: 80px;
    font-weight: 600;
    line-height: 1.174em;
    letter-spacing: -1px;
    margin: 0 0 20px;
    @media(max-width: $small-tablet){
        font-size: 45px;
        line-height: 1.2em;
        letter-spacing: -0.5px;
    }
}

@mixin h2 {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.178571em;
    letter-spacing: 0.25px;
    margin: 0 0 18px;
    @media(max-width: $small-tablet){
        font-size: 45px;
        line-height: 1.2em;
        letter-spacing: -0.5px;
    }
}

@mixin h3 {
    margin: 0 0 0;
}

@mixin h4 {
    margin: 0 0 0;

}

@mixin h5 {
    margin: 0 0 0;

}

@mixin h6 {
    margin: 0 0 0;

}