
.button {
    text-decoration: none!important;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875em;
    letter-spacing: 0px;
    padding: 8px 18px;
    border-radius: 100px;
    color: $primary;
    transition: all ease 0.3s;
    display: inline-block;
    text-align: center;
    background-color: $btn_primary;

    &:hover{
      background-color: $primary;
      color: $black_light;
    }
    @media(max-width: $small-tablet){
      font-size: 16px;
      line-height: 1.17575em;
    }
}

.acf-block-preview{
  .button {
    text-decoration: none!important;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875em;
    letter-spacing: 0px;
    padding: 8px 18px;
    border-radius: 100px;
    color: $primary!important;
    transition: all ease 0.3s;
    display: inline-block;
    text-align: center;
    background-color: $btn_primary;

    &:hover{
      background-color: green;
      color: #fff;
    }
 
  }
}