
.button {
/*     text-decoration: none!important;
    border-radius: 100px;
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222222em;
    letter-spacing: 0.012em;
    text-transform: capitalize;    
    color: $light-bg-color_2;
    transition: all ease 0.3s;
    padding: 11px 17px;
    display: inline-block;
    text-align: center;
 
    &.button-primary {
        background-color: $primary;
        color: $light-bg-color_2;
        &:hover {
           background-color: #2ebcc5; 
            color: $light-bg-color_2;
        }
    }
  */
}

 