/* Forms
--------------------------------------------- */

input,
select,
textarea {
 
    border: 1px solid #ddd;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    width: 100%;
}

input:focus,
textarea:focus {
    border: 1px solid #999;
    outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
    width: auto;
}

::-ms-input-placeholder {
    color: #333;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #333;
    opacity: 1;
}

::placeholder {
    color: #333;
    opacity: 1;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form button[type="submit"] {
    background-color: #333;
    border: 0;
    border-radius: 5px;
 
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    width: auto;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
    background-color: #eee;
    border-width: 0;
    color: #777;
    cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
    display: none;
}


/* Search Form
--------------------------------------------- */

.search-form {
    overflow: hidden;
}

.entry-content .search-form {
    margin-bottom: 40px;
    width: 50%;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
    margin-top: 10px;
}

.widget_search input[type="submit"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}

.hide-required{

}

.hide-required-data_wrapper{
    label{
        .gfield_required_asterisk{
            opacity: 0;
        }
    }
}

.form-contact-inf{
    text-align: left;
}

 